body
{
  font-family: Open Sans;
  background-color: #f2f2f2;
}
.vertical-center {
  min-height: 100%;  /* Fallback pour les naviguateur qui ne supportent pas vh unit */
  min-height: 100vh;

  display: flex;
  align-items: center;
}
#home{
	color: white;
	margin:0;
  padding:0;
  background: url("../img/bg.jpg") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
}
#tanks{
  margin:0;
  padding:0; 
}
.nav-fix{
	/*pour compenser les 50px de la navbar*/
    margin-top: 55px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(149,  165, 166, 0.75), rgba(0, 0, 0, 0));
    /*background-color: rgba(149,  165, 166, 0.75);*/
    /*background-color: rgba(0,  0, 0, 0.75);*/
}
#home hr {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

/* Modif hector*/
#order h1 {
  color:red;
  position:absolute;
  top:50px;

}
#order table
{
  color:white;
}  
#order 
{
  background: url("../img/bol.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;

}
#track
{
  background: url("../img/bol.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover
}